.places{
    display: flex;
    flex-direction: column;
    border: 0;
    padding-left: 30px;
}
.places h1{
    font-size: 30px;
    text-align: left;
}
article{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}
article h2{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
}
.places div.price_by_night{
    color: #FF5A5F;
    border: solid 3px #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}